Repository TylerHendrickson/releasemporium, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, go, terraform

.github/labeler.yml:

documentation:
  - '**/*.md'
go:
  - '**/*.go'
terraform:
  - 'terraform/**'

Update draft config
  .github/release-drafter.yml
Labels: none

Update draft config - fix
  .github/release-drafter.yml
Labels: none

Add an output
  terraform/main.tf
Labels: terraform

Change some output
  terraform/main.tf
Labels: terraform

Add punctuation
  terraform/main.tf
Labels: terraform

Add punctuation to program output
  cmd/main.go
Labels: go

Remove redundant workflow trigger
  .github/workflows/release-drafter.yml
Labels: none

Drafting enhancements
  .github/release-drafter.yml
Labels: none

Fix yaml escapes
  .github/release-drafter.yml
Labels: none

Fix autolabeler config
  .github/release-drafter.yml
Labels: none

Add Contributors section to release draft template
  .github/release-drafter.yml
Labels: none

Emoji fun
  .github/release-drafter.yml
Labels: none

Release headings adjustments
  .github/release-drafter.yml
Labels: none

Adjust internal notes
  .github/release-drafter.yml
Labels: none

Change contributors section emoji
  .github/release-drafter.yml
Labels: none

Year-based major version
  .github/release-drafter.yml
Labels: none

Debugging
  .github/release-drafter.yml
Labels: none

Debugging
  .github/release-drafter.yml
Labels: none

Debugging
  .github/release-drafter.yml
Labels: none

Debugging
  .github/release-drafter.yml
Labels: none

Fix yaml issue
  .github/release-drafter.yml
Labels: none

Set version label config
  .github/release-drafter.yml
Labels: none

Set version label config
  .github/release-drafter.yml
Labels: none

Debugging
  .github/release-drafter.yml
Labels: none

Debugging
  .github/release-drafter.yml
Labels: none

Debugging
  .github/release-drafter.yml
Labels: none

Debugging
  .github/release-drafter.yml
Labels: none

Debugging
  .github/release-drafter.yml
Labels: none

Fix the damn yaml
  .github/release-drafter.yml
Labels: none

Add deployment history section to template
  .github/release-drafter.yml
Labels: none

Default minor version increment
  .github/release-drafter.yml
Labels: none

Summary emoji 📚
  .github/release-drafter.yml
Labels: none

Observe skip-changelog label when autogenerating release notes
  .github/release.yml
Labels: none
